SECRET_KEY_BASE=
FORCE_SSL=true
RAILS_LOG_LEVEL=info

WEB_CONCURRENCY=1
RAILS_MAX_THREADS=3
RAILS_MIN_THREADS=3

APP_PORT=3000

SUKSUK_SCHOOL_DATABASE_HOST=db
SUKSUK_SCHOOL_DATABASE_PORT=5432
SUKSUK_SCHOOL_DATABASE_NAME=suksuk_growth_record_production
SUKSUK_SCHOOL_DATABASE_USER=suksuk_growth_record
SUKSUK_SCHOOL_DATABASE_PASSWORD=
